@use "./mixin";

:root {
  --color-primary: #ff6060;
  --color-bright: #ffffff;
  --color-foundation: #f7f7f7;
  --large-radius: 25px;
  --normal-radius: 10px;
  --small-radius: 5px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary);
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
  }
  
  .wrapper {
    width: 100%;
    max-width: 1290px;
    padding: 0 25px;
    margin-bottom: 33px;
  }
  
@include mixin.small-screens {
  html {
    font-size: 14px;
  }
}
