.rating {
  display: flex;
  list-style: none;
  
  &Star {
      fill: currentColor;
      color: #E3E3E3;
      &.active {
          fill: currentColor;
          color: #FF6060;
          ::marker{
            display: none;
          }
      }
  }
}

@media screen and (max-width: 885px){
  .rating {
    padding-left: 0;
    width: 75%;


    .ratingStar {
      height: 15px;
      background-size: contain;
      img {
        width: 70%;
      }
    }
  }
}