@use "../mixin";

.collpasibleMessage {
  margin: 33px 90px;
  margin-bottom: 0;
}

@include mixin.small-screens {
  .collpasibleMessage {
    margin: 33px 0;
  }
}

.notFound {
  text-align: center;

  .errorCode {
    font-size: 15rem;
    font-weight: bold;
    margin: 150px 0 0 0;
  }

  .errorMessage {
    font-size: 2rem;
  }

  .link {
    color: var(--color-primary);
  }
}

@media screen and (max-width: 885px){
  .notFound {
    .errorCode{
      font-size: 10rem;
      margin-top: 90px;
    }

    .errorMessage{
      font-size: 1.2rem;
      margin-bottom: 40%;
    }
  }
} 